.box {
    position:relative;
}
.box_link {
    position:fixed;
    bottom:0;
    right:0;
}

.lock {
    font-size: 42px;
    color: #f47c56;
}

.cng-pwd-btn {
    background-image: linear-gradient(0deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 5%, rgba(255, 255, 255, 0.55) 51%);
    border-radius: 7px;
    background-color: black;
}

.link-txt { 
    color: #ddd;
    margin-right: 2px;
    margin-bottom: 0.3vw;
}

.cng-pwd-txt {
    color: white;
    margin-right: 12px;
    margin-left: 5px;
}

.cng-pwd-fn-sz {
    font-size: 18px;
    margin-left: 1vw;
}
.cng-pwd-icn {
	color: #f8ac59;	
}
