.lgn {
    background-color: #333;
}

.txt-clr {
    color: white;
}

.mm-popup__box__footer {
    background-color: #333;
}

.mm-popup__btn--cancel {
    background-color: #e0e0e0;;
    border-color: #e0e0e0;;
    color: black;
}