body {
    background-color:black;
}

.cmw-txt {
    color: #f47c56;
    font-size: 1.6vw;
}

.cmw-img {
    width: 110px;
}

.hm {
    margin-top: 4vw;
}

.img-margin {
    margin-top: 9vw;
}

.txt-margin {
    margin-top: 2vw;
    margin-bottom: 6vw;
}

.line {
    width: 35vw;
    border: 1px solid #f47c56;
    margin-top: 8vw;
}